<div id="container-subpage-verify" class="container-subpage">
  <main>
    <h2 class="title large">Email Verification</h2>
    <p>Please check your email for a verification code.</p>

    <form method="POST" action="/auth/verify">
      <div>
        <input type="hidden" id="id" name="id" value="<%= id %>" />
        <label for="verificationCode">Verification Code</label>
        <input type="text" id="verificationCode" name="verificationCode" />
        <button type="submit">Verify</button>
      </div>
    </form>

    <% if (error) { %>
      <h3 class="title error">Errors:</h3>
      <p><%= error %></p>

      <form method="POST" action="/auth/verify/resend">
        <div>
          <input type="hidden" id="id" name="id" value="<%= id %>" />
          <button type="submit">Resend Code</button>
        </div>
      </form>

    <% } %>
  </main>
</div>
