* {
  box-sizing: border-box;
}

html {
  /* safari */
  margin-inline: auto;
  overflow-wrap: break-word;
  -webkit-user-select: none;
  user-select: none;
}

/* html {
  background-color: var(--dark-blue);
  color: var(--text-color);
}
html.light-theme {
  background-color: var(--beige);
  --anchor-color: var(--black);
  --dark-icon: white;
  --gray-light: var(--gray-dark);
  --light-icon: var(--black);
  --text-color: var(--black);
} */
/* @media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
} */
body {
  font-family: var(--font-primary);
  margin: 0;
}
::selection {
  background-color: var(--primary);
  color: var(--black);
}
.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
