/* ax-btn */
.ax-btn {
  all: unset;
  outline: revert;
  box-sizing: border-box;
}
/* btn */
.btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.4;
  opacity: 1;
  outline: revert;
  transition: opacity 180ms, translate 180ms;
}
.btn:hover {
  opacity: .8;
}
.btn:active {
  translate: 1px 1px;
}
/* btn-line */
.btn--line {
  color: var(--black);
  padding: 12px;
}
.btn--line::after {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
}
/* btn--nav */
.btn--nav {
  color: var(--site-text);
  padding: 6px 16px;
  text-transform: uppercase;
}
/* btn--flat */
.btn--flat {
  background-color: var(--primary);
  background-image: url("/app/assets/svg/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  color: var(--black);
  padding: 12px 53px 12px 24px;
}
/* btn--raised, btn--pill */
.btn--raised,
.btn--pill {
  background-color: var(--light);
  box-shadow: var(--shadow-small);
  color: var(--inform);
  padding: 4px 16px;
}
.btn--pill {
  border-radius: 16px;
}
.btn--raised:hover,
.btn--pill:hover {
  background-color: var(--white);
  color: var(--success);
}
/* btn--scroll-top */
.btn--scroll-top {
  background-color: var(--medium);
  border: initial;
  border-radius: 50%;
  bottom: max(70px, 10dvh);
  color: var(--danger);
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 10px 12px 8px 12px;
  position: fixed;
  right: 8px;
}
.btn--scroll-top:hover {
  background-color: var(--xdark);
  color: var(--bright);
}
/* menu-svg */
.menu-white,
.menu-black {
  background-attachment: local;
  background-position: center;
  background-size: cover;
  height: 19.6px;
  margin-inline: 16px;
  width: 28px;
}
.menu-white {
  background-image: url("/app/assets/svg/menu-white.svg");
}
.menu-black {
  background-image: url("/app/assets/svg/menu-black.svg");
}
