:root {
  /* basic colors */
  --black: rgb(38 38 38);
  --white: rgb(250 250 250);

  /* overlays */
  --overlay: rgba(0 0 0 / 50%);
  --pic-overlay: linear-gradient(23deg, rgba(255 100 0 / 20%),
      rgba(0 0 0 / 20%), rgba(0 0 0 / 20%));
  /* highlights */
  --lime: rgb(102, 255, 0);

  /* semantic colors */
  --caution: rgb(255, 245, 204);
  --danger: rgb(176, 0, 0);
  --inform: rgb(9, 73, 169);
  --success: rgb(0, 100, 0);

  /* theme colors */
  --site-1: #133a26;
  --site-2: #130c24;
  --site-bg-linear: linear-gradient(90deg, #130c24, #133a26);
  --bg-linear-light: linear-gradient(90deg, rgb(250, 250, 250), rgb(254, 254, 254));
  --site-text: var(--white);
  --site-title: #FFF1B1;

  /* backgrounds */
  --bg-white: linear-gradient(white 90%, rgb(248, 248, 248));
  --bg-light: rgba(240 240 240 / 80%);
  /* shadows */
  --shadow: 0 1px 1px hsl(0deg 0% 0% / 0.1),
    0 2px 2px hsl(0deg 0% 0% / 0.1), 0 4px 4px hsl(0deg 0% 0% / 0.1),
    0 8px 8px hsl(0deg 0% 0% / 0.1), 0 16px 16px hsl(0deg 0% 0% / 0.1);
  --shadow-small: 0 1px 1px hsl(0deg 0% 0% / 0.1),
    0 2px 2px hsl(0deg 0% 0% / 0.1);


  /* ? theme Colors */
  --theme: #133a26;
  --theme-brown: #a52a2a;
  /* ? forms */
  --gray: #999999;
  --primary: #f2d544;
  --accent-5: #fff2f7;
  --medium: rgb(230, 230, 230);
  --light: rgb(240, 240, 240);
  --neutral-1: #2c2c2c;
  --secondary-3: #dabb94;
  --secondary-4: #f3dabc;
  --secondary-5: #faf1e5;
  --secondary-6: rgb(250, 241, 229, 0.4);
  --primary-6: rgba(208, 243, 239, 0.4);
  --primary-3: #7fd1c7;
  --xdark: rgb(68, 68, 68);

  /* recently added */
  --svg-color: var(--black);
  --hover: rgb(250, 234, 214)
}
