/* footer-app */
.footer-app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 112px 16px;
}
/* bg-dark */
.bg-dark {
  background: var(--site-bg-linear);
  color: var(--white);
  --svg-color: var(--white);
}
/* social */
.social {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
/* logo-app */
.logo-app {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
/* small - sm */
@media (min-width: 576px) {
  .social {
    gap: 32px;
  }
}
/* btn--scroll-top */
.btn--scroll-top {
  background-color: var(--medium);
  border: initial;
  border-radius: 8px 0 0 8px;
  bottom: max(70px, 10dvh);
  color: var(--danger);
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 8px;
  position: fixed;
  right: 0;
}
.btn--scroll-top:hover {
  background-color: var(--xdark);
  color: var(--lime);
}