/* banner-butcher */
.banner {
  align-items: center;
  background: var(--bg-linear-light);
  color: var(--danger);
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-teritiary);
  font-style: italic;
  gap: 16px;
  justify-content: space-between;
  padding: 32px 16px 8px 16px;

}
/* logo-butcher */
.logo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 576px) {
  .logo {
    gap: 16px;
  }
}