.banner {
  align-items: center;
  background: var(--bg-linear-light);
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-teritiary);
  font-style: italic;
  gap: 8px;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

@media (min-width: 576px) {
  .logo {
    gap: 16px;
  }
}