#packages {
  min-height: 100vh;
}
.packages {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
/* packages grid */
@media (min-width: 768px) {
  .packages {
    grid-template-columns:
    repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: min-content;
  }
}
/* package grid */
.package {
  border-radius: 16px;
  background-image: var(--bg-white);
  display: grid;
  gap: 8px;
  grid-template-columns: 70px 1fr;
  grid-template-areas:
  "picture   info"
  "term      term"
  "ctrl-btns ctrl-btns";
  padding: 16px;
}
/* picture */
.picture {
  align-self: center;
  grid-area: picture;
}
.picture img {
  height: auto;
  width: 100%;
}
/* info flex */
.info {
  font-weight: 600;
  grid-area: info;
  justify-content: space-around;
  position: relative;
}
.btn-heart {
  position: absolute;
  top: 0;
  right: 0;
}
.subtotal {
  color: var(--primary-1);
  text-align: right;
}
/* term */
.term {
  grid-area: term;
}
/*ctrl-btns */
.ctrl-btns {
  align-items: center;
  display: flex;
  grid-area: ctrl-btns;
  justify-content: space-between;
}
.empty-state {
  background-image: var(--bg-white);
  display: grid;
  row-gap: 16px;
  padding-block: 32px;
  place-items: center;
  grid-column-start: span 3;
}
.hide {
  display: none;
}
.hidden {
  visibility: hidden;
}
