#packages {
  min-height: 100vh;
}
/* ? packages grid */
/* Medium - md */
@media (min-width: 768px) {
  .packages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-auto-rows: min-content;
    gap: 8px;
  }
}
/* ? Package Grid */
.package {
  background-image: var(--bg-white);
  display: grid;
  gap: 8px;
  grid-template-columns: 70px 1fr auto;
  grid-template-areas:
    "picture   cost        info"
    "term      term        term"
    "left-ctrl middle-ctrl right-ctrl";
  padding: 16px;
}
.hide {
  display: none;
}
/* picture */
.picture {
  align-items: center;
  grid-area: picture;
}
.picture img {
  height: auto;
  width: 100%;
}
/* cost flex */
.cost {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  grid-area: cost;
  justify-content: center;
}
/* info flex */
.info {
  align-items: end;
  color: var(--success);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  grid-area: info;
  justify-content: space-between;
}
.subtotal {
  align-self: center;
}
.bi-heart {
  color: var(--neutral-1);
}
.bi-heart-fill {
  color: var(--danger);
}
/* term */
.term {
  grid-area: term;
}
.term h2.title.large {
  margin: 0;
}
/* left ctrl */
.left-ctrl {
  grid-area: left-ctrl;
}
/* right ctrl */
.right-ctrl {
  align-items: center;
  display: grid;
  grid-area: right-ctrl;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
.empty-state {
  background-image: var(--bg-white);
  display: grid;
  row-gap: 16px;
  padding-block: 32px;
  place-items: center;
  grid-column-start: span 3;
}
.bi-cart-x-fill,
.empty-state .bi-heart {
  color: var(--neutral-4);
  font-size: 64px;
}
/* buttons */
.btn-plus,
.ledger .btn-checkout,
.btn-continue {
  color: var(--inform);
}
.btn-minus,
.package .btn-clear,
.ledger .btn-clear-cart {
  color: var(--danger);
}
.btn-plain {
  background-color: transparent;
  border: initial;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
}
.btn-plain.btn-heart:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.categories,
.ledger {
  display: none;
}
.show {
  display: block;
}
