/* subpage navigation */
#subpage-nav {
  align-items: center;
  background: var(--bg-light);
  border-top: 1px solid var(--dark);
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  padding: 8px 16px;
  position: fixed;
  right: 0;
}

.btn-continue {
  color: var(--inform);
}

.btn-plus {
  color: var(--success);
}

.btn-minus {
  color: var(--inform);
}
.package .btn-clear {
  color: var(--danger);
}

.categories {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}