<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI Library</title>
</head>
<body>
  <main class="container">
    <h1>User Interface Components Libray:</h1>
    <p>The '/library' route is used to display UI components available in the libray.</p>
    <p>It's where we create and visualize ui components.</p>
    <p>
      To use stuff in the library, you copy the html into your page,
      and copy the resources into the specific page folder or the app
      folder if it is being used in more then one page.
    </p>
  </main>
</body>
</html>
