<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UI Library</title>
  </head>
  <body>
    <main style="padding: 32px 16px">
      <h1>User Interface Components Library:</h1>
      <p>
        The '/library' route is used to display UI components available in the
        libray.
      </p>
      <p>It's a place to create, visualize and store ui components.</p>
      <p>
        To use stuff in the library, you copy the html into your page, and copy
        the resources into the specific page folder or the app folder if it is
        being used in more then one page.
      </p>
    </main>
  </body>
</html>

<!-- <img
  sizes="(max-width: 1400px) 100vw, 1400px"
  srcset="
    IMG_3183_blzhc4_c_scale,w_50.jpg     50w,
    IMG_3183_blzhc4_c_scale,w_493.jpg   493w,
    IMG_3183_blzhc4_c_scale,w_775.jpg   775w,
    IMG_3183_blzhc4_c_scale,w_1022.jpg 1022w,
    IMG_3183_blzhc4_c_scale,w_1262.jpg 1262w,
    IMG_3183_blzhc4_c_scale,w_1400.jpg 1400w
  "
  src="IMG_3183_blzhc4_c_scale,w_1400.jpg"
  alt=""
/>

<picture>
  <img
    sizes="(max-width: 1400px) 100vw, 1400px"
    srcset="
      IMG_3183_blzhc4_c_scale,w_50.jpg     50w,
      IMG_3183_blzhc4_c_scale,w_493.jpg   493w,
      IMG_3183_blzhc4_c_scale,w_775.jpg   775w,
      IMG_3183_blzhc4_c_scale,w_1022.jpg 1022w,
      IMG_3183_blzhc4_c_scale,w_1262.jpg 1262w,
      IMG_3183_blzhc4_c_scale,w_1400.jpg 1400w
    "
    src="IMG_3183_blzhc4_c_scale,w_1400.jpg"
    alt=""
  />
</picture> -->
