/* ? carousel */
.slide {
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: local;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 180px;
}
.slide-content {
  text-align: center;
  padding: 0;
}
.first {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/image_5.jpg");
}
.one {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_2950_lrg.jpg");
}
.two {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6224_lrg.jpg");
}
.three {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6273_lrg.jpg");
}
.four {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6275_lrg.jpg");
}
.hide-slide {
  display: none;
}
.title-slide {
  font-size: 2.25rem;
  font-style: italic;
}
/* ? snaps */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.child {
  background-attachment: local;
  background-position: center;
  background-size: cover;
  color: white;
  display: grid;
  font-size: 30px;
  grid-template-columns: 1fr;
  height: 400px;
  align-items: end;
  justify-items: center;
  scroll-snap-align: center;
  width: 100vw;
}
.child:nth-child(1) {
  background-color: var(--primary-1);
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/variety/image_13.jpg");
}
.child:nth-child(2) {
  background-color: var(--primary-2);
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/variety/image_2.jpg");
}
.child:nth-child(3) {
  background-color: var(--primary-3);
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/variety/image_4.jpg");
}
.child:nth-child(4) {
  background-color: var(--primary-4);
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/variety/image_10.jpg");
}
.child p {
  padding: 32px;
  text-align: center;
}
.dot-box {
  display: grid;
  grid-template-columns: repeat(4, 1rem);
  gap: 20px;
  padding: 16px;
}
.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50px;
  background-color: var(--neutral-4);
}
.active-dot {
  background-color: var(--neutral-3);
}
/* Large - lg */
@media (min-width: 992px) {
  .parent {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: initial;
  }
  .child {
    width: 100%;
  }
  .dot-box {
    visibility: hidden;
  }
}
/* ? boxes transitions */
.boxes {
  display: grid;
  gap: 8px;
  grid-template-rows: 40px;
  grid-auto-rows: 7ch;
  grid-template-columns: repeat(3, 7ch);
  grid-template-areas: 
    "title title title"
    "box   box   box";
  margin-block: 64px;
  margin-inline: auto;
  max-width: fit-content;
}
.boxes-title {
  grid-area: title;
  justify-self: center;
}
.box {
  background-color: red;
  color: white;
  display: inline-grid;
  cursor: pointer;
  place-items: center;
  transition: scale, rotate, translate, transform, opacity;
  transition-duration: 300ms;
}
.box-two {
  background-color: green; 
}
.box-three {
  background-color: blue;
}
.box:hover {
  opacity: 0.5;
  rotate: -20deg;
  scale: 1.5;
  transform: skew(20deg, 20deg);
  translate: 2ch 2ch;
}