<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title">Moderator Content</h2>
    <p>
      The 'moderator role' has the ability to block users, hide submissions
      and other functions as required.
    </p>
  </main>

  <footer>
    <%- include('../app/footer.ejs') %>
  </footer>
</body>
</html>
