<div id="container-subpage-about" class="container-subpage">
  <h1>Moderator Content</h1>
  <p>
    The 'moderator role' would have the ability to block users, hide submissions
    and other functions as required.
  </p>
</div>
