<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../app/head.ejs") %>
</head>
<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  <%- include("../app/nav.ejs") %>

  <main class="container-subpage">
    <h2 class="title">Author Content</h2>
    <p>
      The 'author role' is able to create, read, update and delete public content.
      This includes creating new products.
    </p>
    <div>
      <a href="/author/products">Products</a>
      <a href="/author/stories">Stories</a>
    </div>
  </main>

  <footer>
    <%- include('../app/footer.ejs') %>
  </footer>
</body>
</html>
