<div id="container-subpage-author" class="container-subpage">
  <main>
    <h1>Author Content</h1>
    <p>
      The 'Author' role is able to create, read, update and delete public content.
      This includes creating new products.
    </p>
    <div>
      <a href="/author/products">Products</a>
      <a href="/author/stories">Stories</a>
    </div>
  </main>
</div>
