<div id="container-subpage-error" class="container-subpage">
  <main>

    <h2 class="title error"><%= message %></h2>
    <h3 class="title">Error <%= error.status %></h3>
    <pre><%= error.stack %></pre>
   
  </main>
</div>
