/* fades button when you click -- javascipt */
button-transition {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  background-color: #222;
  color: white;
  padding: 10px 20px;
  transition: opacity ease-in 300ms;
}
.faded {
  opacity: 0.6;
}
