/* Cart Grid */
.cart {
  margin-inline: auto;
  max-width: 600px;
}
/* Packages Grid */
.packages {
  display: grid;
}
/* Package Grid */
.package {
  background-image: var(--bg-white);
  display: grid;
  gap: 8px;
  grid-template-columns: 70px 1fr auto;
  grid-template-areas:
    "picture   cost        info"
    "term      term        term"
    "left-ctrl middle-ctrl right-ctrl";
  padding: 16px;
}
.hide {
  display: none;
}
/* Picture */
.picture {
  align-items: center;
  grid-area: picture;
}
.picture img {
  height: auto;
  width: 100%;
}
/* Cost Flex */
.cost {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  grid-area: cost;
  justify-content: center;
}
/* Info Flex */
.info {
  align-items: end;
  color: var(--success);
  display: flex;
  flex-direction: column;
  font-weight: 600;
  grid-area: info;
  justify-content: space-between;
}
.subtotal {
  align-self: center;
}
.bi-heart {
  color: var(--neutral-1);
}
.bi-heart-fill {
  color: var(--danger);
}
/* Term */
.term {
  grid-area: term;
}
.term h2.title.large {
  margin: 0;
}
/* Left Ctrl */
.left-ctrl {
  grid-area: left-ctrl;
}
/* Right Ctrl */
.right-ctrl {
  align-items: center;
  display: grid;
  grid-area: right-ctrl;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  text-align: center;
}
.hidden {
  visibility: hidden;
}
/* Ledger Container */
.ledger {
  font-size: 18px;
  padding-block-end: 64px;
  text-align: center;
}
.remove {
  display: none;
}
.empty-cart {
  min-height: 30dvh;
  padding-block: 32px;
  text-align: center;
}
.bi-cart-x-fill,
.empty-cart .bi-heart {
  color: var(--neutral-4);
  font-size: 64px;
}

/* Buttons */

.btn {
  background-color: var(--light);
  border: initial;
  border-radius: 16px;
  box-shadow: var(--shadow-small);
  color: var(--black);
  font-size: 14px;
  padding: 4px 16px;
  text-decoration: none;
}
.btn-plus,
.ledger .btn-checkout {
  color: var(--inform);
}
.btn-minus,
.package .btn-clear,
.ledger .btn-clear-cart {
  color: var(--danger);
}
.ledger .btn-checkout {
  text-decoration: line-through;
}
.btn:hover {
  background-color: var(--white);
  color: var(--success);
}
.btn-plain {
  background-color: transparent;
  border: initial;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
}
.btn-plain.btn-heart:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
