footer {
  background-color: #133a26;
  color: white;
  padding: 16px 16px 80px 16px;
  position: relative;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: none;
}

/* Display Window Size */
#window-size {
  background-color: transparent;
  bottom: 48px;
  color: rgb(250, 250, 250);
  font-size: 8px;
  padding: 8px;
  position: absolute;
  right: 16px;
}
/* Scroll to Top */
#btn-scroll-top {
  background-color: rgb(230, 230, 230);
  border: initial;
  border-radius: 50%;
  bottom: 10dvh;
  color: red;
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 10px 12px 8px 12px;
  position: fixed;
  right: 8px;
  z-index: 99;
}
#btn-scroll-top:hover {
  background-color: rgb(68, 68, 68);
  color: rgb(102, 255, 0);
}
