#top-nav {
  background-color: #133a26;
  padding: 4px 16px;
}
#top-nav ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}
#top-nav a {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
