@import url("global.css");
@import url("palette.css");
@import url("typography.css");
@import url("layout.css");
@import url("store.css");
@import url("package.css");
@import url("main.css");
@import url("about.css");
@import url("forms.css");
@import url("animations.css");
@import url("transitions.css");
@import url("footer.css");
html {
  -webkit-user-select: none; /* Safari */
  user-select: none;
  margin-inline: auto;
  scroll-behavior: smooth;
}
.container-subpage {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 16px;
  padding-block-start: 50px;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}
.link {
  padding: 4px 8px;
}
.error {
  color: var(--danger);
}
/* Extra Extra Small - xxs */
@media (max-width: 300px) {}
/* Extra Small - xs */
@media (max-width: 575px) {}
/* Small - sm */
@media (min-width: 576px) {}
/* Medium - md */
@media (min-width: 768px) {}
/* Large - lg */
@media (min-width: 992px) {}
/* Extra Large - xl */
@media (min-width: 1200px) {}
/* Extra Extra Large - xxl */
@media (min-width: 1400px) {}
@media (min-width: 1600px) {}
@media (min-width: 1800px) {}
@media (min-width: 2000px) {}
@media print {}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }
}
