@import url("layout.css");
@import url("palette.css");
@import url("typography.css");
@import url("shop.css");
@import url("favorites.css");
@import url("cart.css");
:root {
  /* Font Families */
  --font-primary: system-ui;
  --font-secondary: Verdana, Helvetica, Arial, sans-serif;
  --font-teritiary: Georgia, serif;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}
* {
  box-sizing: border-box;
}
html {
  margin-inline: auto;
  max-width: 2600px;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  margin: 0;
}
.container-subpage {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 16px;
}
h1 {
  color: brown;
}
ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}
.link {
  padding: 4px 8px;
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  user-select: none;
}
@media print {}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: auto;
  }
}
