/* Layout grid container */
#layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "top    top    top    top"
    "middle middle middle middle"
    "bottom bottom bottom bottom";
  grid-template-rows: auto 1fr auto;
}
/* Top */
#top {
  grid-area: top;
  position: sticky;
  top: 0;
  z-index: 3;
}
/* Left */
#left {
  grid-area: middle;
  z-index: 999;
}
/* Middle */
#middle {
  grid-area: middle;
  min-height: 100dvh;
}
/* Bottom */
#bottom {
  grid-area: bottom;
}
/* Top */
/* ? Website Top Navigation */
.website-top-nav {
  background-color: var(--theme-green);
  padding: 8px;
}
.website-top-nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}
.website-top-nav .btn-left {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}
.website-top-nav .btn-left:hover {
  color: var(--bright);
}
.website-top-nav .link {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.website-top-nav .link:hover {
  color: var(--bright);
}
/* Left */
.left {
  background-color: var(--theme-green);
  height: fit-content;
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: 0.5s;
  width: 0;
}
.open-left {
  width: max(200px, 15vw);
}
/* ? Website Side Navigation */
.website-side-nav {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 40px;
  padding-block-end: 32px;
  z-index: 999;
}

.website-side-nav .link {
  color: var(--white);
  display: block;
  padding-inline-start: max(3.5ch, 3vw);
  text-decoration: none;
}
.website-side-nav .link:hover {
  color: var(--bright);
}
/* Bottom */
/* ? Footer */
.website-footer {
  background-color: var(--theme-green);
  background-image: linear-gradient(var(--theme-green), var(--primary-5));
  color: var(--white);
  padding: 16px;
  padding-block-end: 80px;
  position: relative;
  text-align: center;
}
.website-footer .link {
  color: var(--white);
  text-decoration: none;
}
/* ? Display Window Size */
.website-footer .window-size {
  background-color: transparent;
  bottom: 40px;
  color: var(--black);
  font-size: 8px;
  padding: 8px;
  position: absolute;
  right: 16px;
}
/* ? Scroll to Top */
#btn-scroll-top {
  background-color: var(--medium);
  border: initial;
  border-radius: 50%;
  bottom: 10dvh;
  color: var(--danger);
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 10px 12px 8px 12px;
  position: fixed;
  right: 8px;
  z-index: 999;
}
#btn-scroll-top:hover {
  background-color: var(--xdark);
  color: var(--bright);
}
@media print {
  #top,
  #left,
  #bottom {
    display: none;
  }
}


.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.show-overlay {
  display: block;
}