main {
  min-height: 75vh;
  padding-block-end: 64px;
  margin-block-start: -16px;
}
/* ? website mission */
.website-mission-container {
  background-color: var(--theme-green);
  font-size: 14px;
  overflow: hidden;
}
.website-mission {
  animation: from-left 1s;
  color: white;
  margin: 0;
  display: inline-block;
  padding: 8px 16px;
}
@keyframes from-left {
  0%   { translate: -200px 0; }
  100% { translate: 0 0; }
}
/* ? website top banner */
.website-top-banner {
  background-attachment: local;
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
    url("/images/banners/IMG_3103_lrg.jpg");
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  font-family: var(--font-teritiary);
  padding: 16px;
}
.logo {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  gap: 16px;
  font-size: 24px;
}
.website-top-banner a {
  color: var(--white);
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}
/* ? website top navigation */
#website-top-nav {
  position: sticky;
  top: 0;
  transition: translate 200ms;
}
.website-top-nav-move {
  translate: 0 -48px;
}

.website-top-nav {
  align-items: center;
  background-color: var(--theme-green);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 8px;
  top: 0;
}
.website-top-nav .btn-open-website-side-nav {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
}
.website-top-nav .btn-open-website-side-nav:hover {
  color: var(--bright);
}
.website-top-nav .link {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.website-top-nav .link:hover {
  color: var(--bright);
}
.website-subpage {
  background-color: var(--neutral-1);
}
.subpage-name {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 8px 16px;
}
/* ? website side navigation */
.website-side-nav {
  background-color: var(--theme-green);
  display: none;
  flex-direction: column;
  font-size: 20px;
  /* height: fit-content; */
  height: 100vh;
  height: 100dvh;
  left: 0;
  line-height: 40px;
  /* overflow: hidden; */
  overflow-y: auto;
  overscroll-behavior: contain;
  padding-block: 32px;
  position: absolute;
  position: fixed;
  top: 0;
  transition: translate 0.5s;
  translate: -250px;
  width: max(220px, 15vw);
  z-index: 98;
}
.open-website-side-nav {
  translate: 0;
}
.overlay {
  background-color: var(--overlay);
  cursor: pointer;
  display: none;
  inset: 0;
  position: fixed;
  transition: translate 0.5s;
  translate: -100vw;
  translate: -100dvw;
  z-index: 97;
}
.show-overlay {
  translate: 0;
}
.website-side-nav .link {
  color: var(--white);
  display: block;
  padding-inline-start: max(3.5ch, 3vw);
  text-decoration: none;
}
.website-side-nav .link:hover {
  color: var(--bright);
}
/* Bottom */
/* ? footer */
.website-footer {
  background-color: var(--theme-green);
  background-image: linear-gradient(var(--theme-green), var(--primary-5));
  color: var(--white);
  padding: 16px 16px 160px 16px;
  position: relative;
  text-align: center;
}
.website-footer .link {
  color: var(--white);
  text-decoration: none;
}
/* ? display window size */
.website-footer .window-size {
  background-color: transparent;
  bottom: 64px;
  color: var(--black);
  font-size: 10px;
  padding: 8px;
  position: absolute;
  right: 16px;
}
/* ? scroll to top */
#btn-scroll-top {
  background-color: var(--medium);
  border: initial;
  border-radius: 50%;
  bottom: max(70px, 10dvh);
  color: var(--danger);
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 10px 12px 8px 12px;
  position: fixed;
  right: 8px;
}
#btn-scroll-top:hover {
  background-color: var(--xdark);
  color: var(--bright);
}
@media print {
}
