.container-subpage-main {
  background-color: var(--secondary-6);
}
.slide {
  background-size: cover;
  background-position: center;
  background-attachment: local;
  height: 40dvh;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.slide-content {
  text-align: center;
  color: white;
  padding: 0;
  font-size: 1.2rem;
}
.slide-content p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.one {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_2950_lrg.jpg");
}
.two {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6224_lrg.jpg");
}
.three {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6273_lrg.jpg");
}
.four {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),
  url("/images/slides/IMG_6275_lrg.jpg");
}
.hide-slide {
  display: none;
}
.title-slide {
  font-size: 2.25rem;
  font-style: italic;
  color: var(--caution);
  /* transition */
}

/* slide dots */
.parent {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.child {
  background-color: var(--primary-1);
  width: 100vw;
  height: 200px;
  font-size: 30px;
  color: white;
  display: grid;
  place-items: center;
  scroll-snap-align: center;
}
.child:nth-child(2) {
  background-color: var(--primary-2);
}
.child:nth-child(3) {
  background-color: var(--primary-3);
}
.child:nth-child(4) {
  background-color: var(--primary-4);
}
.dot-box {
  display: grid;
  grid-template-columns: repeat(4, 1rem);
  gap: 20px;
}
.dot {
  height: 1rem;
  width: 1rem;
  border-radius: 50px;
  background-color: var(--neutral-4);
}
.active-dot {
  background-color: var(--neutral-3);
}
/* Large - lg */
@media (min-width: 992px) {
  .parent {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: initial;
  }
  .child {
    width: 100%;
  }
  .dot-box {
    visibility: hidden;
  }
}
.orderFirst {
  order: -1;
  color: red;
}