.carousel {
  background-color: var(--accent-1);
  background-image: radial-gradient(var(--accent-1), var(--accent-2));
  display: grid;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 32px;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
}