/* Cart Grid Container */
.container-cart {
  /* display: grid; */
  max-width: 600px;
  margin-inline: auto;
}
/* Package Grid Container */
.container-package {
  display: grid;
}
.package {
  background-color: white;
  display: grid;
  gap: 8px;
  grid-template-columns: 70px 4fr 3fr;
  grid-template-areas:
  "image amount subtotal"
  "name  name   name"
  "delete control control";
  padding: 16px;
}
.package:nth-child(even) {
  background-color: rgb(248, 248, 248)
}
.hide {
  display: none;
}
.image {
  grid-area: image;
  align-items: center;
}
.amount {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  grid-area: amount;
  padding-inline-start: 32px;
}
.subtotal {
  align-items: end;
  color: green;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  gap: 8px;
  grid-area: subtotal;
  justify-content: space-between;
}
.name {
  grid-area: name;
}
.remove-card {
  background-color: rgba(240, 240, 240, 0.4);
  color: red;
  grid-area: delete;
  font-size: 12px;
}
.control {
  align-items: center;
  display: flex;
  grid-area: control;
  justify-content: end;
}
.image img {
  height: auto;
  width: 100%;
}
.name h2 {
  color: brown;
  font-size: 18px;
  margin: 0;
}
.quantity-buttons {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content: center;
  text-align: center;
}
/* Duplicates in shop.css */
.bi-heart {
  color: gray;
}
.bi-heart-fill {
  color: red;
}
.btn-minus {
  border: 1px solid rgba(255, 0, 0, 0.1);
  color: red;
}
.btn-plus {
  border: 1px solid rgba(86, 149, 86, 0.1);
  color: green;
}
