/* Font Family */
:root {
  --font-primary: system-ui;
  --font-secondary: Verdana, Helvetica, Arial, sans-serif;
  --font-teritiary: Georgia, serif;
}
/* Title */
.title {
  color: var(--success);
  font-weight: bold;
}
.title.large {
  color: var(--theme);
  font-family: var(--font-teritiary);
  font-size: 18px;
  margin-block-end: 8px;
  margin-block-start: 16px;
}
.title-slide {
  color: var(--caution);
  font-family: var(--font-teritiary);
  font-size: 2.5rem;
}
.uppercase::first-letter {
  color: var(--theme);
  font-size: 1.4em;
  text-transform: uppercase;
}
