<h1><%= pageTitle %></h1>
<p>
  To test database connectivity, these breeds are retrieved from a mongoDb cloud
  database called E-Shop and a collection of documents called breeds.
</p>

<h2>List of breeds:</h2>
<ul>
  <% breeds.forEach((breed) => { %>
  <li><a href="breed/<%= breed.url %>"><%= breed.name %></a></li>
  <% }); %>
</ul>

<p><a href="/author/breed/create">Create New Breed</a></p>
