/* a {
  color: var(--anchor-color);
  opacity: 0.85;
  transition: opacity 200ms;
}
a:hover {
  opacity: 1;
} */
address {
  font-style: normal;
}
blockquote,
figure {
  margin: 0;
}
/* p {
  color: var(--black);
} */
strong {
  font-weight: inherit;
}
input,
textarea,
button,
select {
  font: inherit;
}
ul {
  list-style-type: none;
  margin-block: 0;
  padding-inline-start: 0;
}
.error {
  color: var(--danger);
}
