.container-subpage {
  margin-inline: auto;
  max-width: 1200px;
  padding-block-start: 50px;
  padding-inline: 16px;
}
.container {
  max-width: 960px;
  padding-inline: 20px;
  margin-inline: auto;
}