/* top */
main {
  min-height: 75vh;
  padding-block-end: 64px;
  margin-block-start: -16px;
}

/* bottom */
/* ? footer */
.website-footer {
  background-color: var(--theme-green);
  background-image: linear-gradient(var(--theme-green), var(--primary-5));
  color: var(--white);
  padding: 16px 16px 160px 16px;
  position: relative;
  text-align: center;
}

.website-footer .link {
  color: var(--white);
  text-decoration: none;
}

/* ? display window size */
.website-footer .window-size {
  background-color: transparent;
  bottom: 64px;
  color: var(--black);
  font-size: 10px;
  padding: 8px;
  position: absolute;
  right: 16px;
}

/* ? scroll to top */
#btn-scroll-top {
  background-color: var(--medium);
  border: initial;
  border-radius: 50%;
  bottom: max(70px, 10dvh);
  color: var(--danger);
  cursor: pointer;
  display: none;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.8;
  padding: 10px 12px 8px 12px;
  position: fixed;
  right: 8px;
}
#btn-scroll-top:hover {
  background-color: var(--xdark);
  color: var(--bright);
}

@media print {}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer .side {
  align-items: center;
  display: flex;
  gap: 16px;
}
.footer-social {
  display: flex;
  gap: 16px;
  list-style: none;
}
.footer-name {
  margin-bottom: 0;
  color: white;
}
.footer-rights {
  color: white;
  margin-top: 0;
}
@media (max-width: 37.5rem) {
  .footer {
    flex-direction: column;
  }
}