/* site banner */
.site-banner {
  background: var(--site-bg-linear);
  color: var(--site-title);
  font-family: var(--font-teritiary);
  font-style: italic;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}
/* logo */
.logo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
