@layer component {

  /* footer */
  .footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 128px 16px;
  }

  /* social */
  .social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  @media (min-width: 576px) {
    .social {
      gap: 32px;
    }
  }

  /* window-size */
  .window-size {
    min-height: 16px;
    min-width: 50px;
  }

  /* footer-logo */
  .footer-logo {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (min-width: 576px) {
    .footer-logo {
      gap: 16px;
    }
  }
}