@layer component {

  /* app top nav */
  #app-top-nav {
    position: sticky;
    top: 0;
    transition: translate 200ms;
  }

  .app-top-nav-move {
    translate: 0 -48px;
  }

  .app-top-nav {
    align-items: center;
    background: var(--bg-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 48px;
    padding-inline: 16px;
    z-index: 98;
  }

  /* links */
  .app-top-nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  /* subpage name h1 */
  .app-subpage {
    background: var(--bg-white);
    border-bottom: 1px solid var(--dark);
    min-height: 48px;
    padding: 8px 16px;
  }

  .subpage-name {
    color: var(--primary-1);
    margin-block: 0;
  }

  /* app side navigation */
  /* links */
  .app-side-nav {
    background: var(--bg-light);
    display: none;
    flex-direction: column;
    height: 100vh;
    height: 100dvh;
    justify-content: space-between;
    left: 0;
    overflow-y: auto;
    overscroll-behavior: contain;
    position: fixed;
    top: 0;
    transition: translate 300ms;
    translate: -250px;
    width: max(240px, 20vw);
    z-index: 98;
  }

  .open-app-side-nav {
    translate: 0;
  }

  .intro {
    padding-block-start: 32px;
  }

  .intro h3 {
    margin-block: 0;
    padding: 16px;
  }

  .outro p {
    margin-block: 32px;
    padding: 16px;
    text-align: center;
  }

  .app-side-nav-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* categories */
  .categories {
    display: none;
  }

  /* overlay */
  .overlay {
    background-color: var(--overlay);
    cursor: pointer;
    display: none;
    inset: 0;
    position: fixed;
    transition: translate 300ms;
    translate: -100vw;
    z-index: 97;
  }

  .show-overlay {
    translate: 0;
  }

  @media (max-width: 576px) {
    .app-top-nav-links li:not(:nth-child(1)) {
      display: none;
    }
  }

  @media (max-height: 800px) {
    .app-side-nav-links {
      gap: 8px;
    }
  }

  /* subpage navigation */
  #subpage-nav {
    align-items: center;
    background: var(--bg-light);
    border-top: 1px solid var(--dark);
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0;
    padding: 8px 16px;
    position: fixed;
    right: 0;
  }
}