<h1>Items in your cart:</h1>

<% if(order.products[0]) { %>

<table>
  <tr>
    <th>Qty</th>
    <th>Name</th>
    <th>Description</th>
    <th>Favorite Food</th>
  </tr>
  <% order.products.forEach((product)=> { %>
  <tr>
    <td><%= product.quantity %></td>
    <td><%= product.id.name %></td>
    <td><%= product.id.description %></td>
    <td><%= product.id.favoriteFood %></td>
  </tr>
  <% }); %>
</table>

<% } else { %>

<p>Your cart is empty.</p>

<% }; %>

<div id="cart-insert-js"></div>
