<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../app/head.ejs") %>
</head>

<body>
  <header>
    <%- include("../app/banner.ejs") %>
  </header>
  
  <%- include("../app/nav.ejs") %>

<div id="container-subpage-member" class="container-subpage">
  <main>
    <h2 class="title large">Member Content</h2>
    <p>
      This page has your 'profile', ability to change personal information,
      add an avatar, close your account, change your password, request to be put
      on a mailing list, and other 'member' functions.
    </p>
    <p>
      The 'member role' allows you to add comments and reviews, use a list maker
      application or use a chat application.
    </p>
    <p>As well, members may add items to their shopping cart and place orders.</p>
  </main>
</div>
<footer>
  <!-- site footer -->
  <%- include('../app/footer.ejs') %>
</footer>
</body>
</html>