<div id="container-subpage-member" class="container-subpage">
  <main>
    <h1>Member Content</h1>
    <p>
      This page could have your 'profile', ability to change personal information,
      add an avatar, close your account, change your password, request to be put
      on a mailing list, and other 'member' functions.
    </p>
    <p>
      A member role could allow you to add comments and reviews, use a list maker
      application or use a chat application.
    </p>
    <p>As well, members may add items to their shopping cart and place orders.</p>
  </main>
</div>
