<!-- banner -->
<div class="banner">
  <!-- logo -->
  <a class="logo btn text--xl" href="/butcher/main" title="Butcher Shop Main Page">
    <img src="/butcher/assets/images/butcher_logo/butcher-logo_50.png" width="50" height="50" alt="Logo Image">
    <span>Butcher Shop</span>
  </a>
  <!-- links -->
  <% if(roles) { %>
    <a class="btn" href="/auth/logout" title="Sigh Out">Sign Out</a>
  <% } else { %>
    <a class="btn" href="/auth/login" title="Sigh In Or Register">Sign In</a>
  <% } %>
</div>
