<!-- banner (for now, just copy of banner-app with name and color changed) -->
<div class="banner">
  <!-- logo -->
  <a class="logo btn text--xl" href="/butcher/main" title="Butcher Shop Main Page">
    <img src="/butcher/assets/images/IMG_3183_kaqsas_c_scale,w_50.jpg" width="50" height="33" alt="Logo Image">
    <span>Butcher Shop</span>
  </a>
  <!-- links -->
  <% if(roles) { %>
    <a class="btn" href="/auth/logout" title="Sigh Out">Sign Out</a>
  <% } else { %>
    <a class="btn" href="/auth/login" title="Sigh In Or Register">Sign In</a>
  <% } %>
</div>
