<!-- banner -->
<div class="banner">

  <!-- logo -->
  <a class="logo btn" href="/butcher/main" title="Butcher Shop Main Page">
    <div class="boxOne"></div>
    <div class="boxTwo"></div>
    <div class="boxThree"></div>
    <span class="text--lg">Butcher Shop</span>
  </a>

  <!-- links -->
  <% if(roles) { %>
    <a class="btn" href="/auth/logout" title="Sigh Out">Sign Out</a>
  <% } else { %>
    <a class="btn" href="/auth/login" title="Sigh In Or Register">Sign In</a>
  <% } %>

</div>