<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta, icons, web manifest etc. -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I am a Freelance Web Developer based in Alberta, Canada.
    I help businesses improve their web performance and user experience.">
  <link rel="apple-touch-icon" sizes="180x180" href="/app/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/app/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/app/assets/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/app/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/app/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/app/assets/favicons/safari-pinned-tab.svg" color="#2e7f56">
  <link rel="shortcut icon" href="/app/assets/favicons/favicon.ico">
  <meta name="color-scheme" content="light">
  <meta name="apple-mobile-web-app-title" content="Coder's Cove">
  <meta name="application-name" content="Coder's Cove">
  <meta name="msapplication-TileColor" content="#133a26">
  <meta name="msapplication-TileImage" content="/app/assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/app/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#133a26">
  <title>
    <%= title %> | <%= subpageName %>
  </title>
  <style>
    html {
      background-color: gray;
    }
    body {
      margin: 0;
    }
    main {
      width: 100dvw;
      height: 100dvh;
      display: grid;
      place-content: center;
      text-align: center;
    }
    a {
      all: unset;
      text-decoration: none;
    }
    h1 {
      color: white;
      font-size: 1.75rem;
     }
    img {
      width: 60%;
      height: auto;
    }
  </style>
</head>

<body>
  <main>
    <a href="/butcher/home">
      <img src="/butcher/assets/images/awqm_footer.png" width="300" height="300" alt="Butcher"
        title="Butcher Shop Home Page">
      <h1>The Butcher Shop</h1>
    </a>
    </main>
</body>

</html>