<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta, icons, web manifest etc. -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I am a Freelance Web Developer based in Alberta, Canada.
  I help businesses improve their web performance and user experience.">
  <meta name="color-scheme" content="light">
  <link rel="apple-touch-icon" sizes="180x180" href="/butcher/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/butcher/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/butcher/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/butcher/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/butcher/assets/favicons/safari-pinned-tab.svg" color="#133a26">
  <link rel="shortcut icon" href="/butcher/assets/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Butcher Shop">
  <meta name="application-name" content="Butcher Shop">
  <meta name="msapplication-TileColor" content="#133a26">
  <meta name="msapplication-config" content="/butcher/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#133a26">
  <title><%= title %> | <%= subpageName %></title>
  <style>
    * { box-sizing: border-box; }
    html {
      background-image: url("/butcher/assets/images/backgrounds/mountains.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100vh;
      /* min-height: 100dvh; */
    }
    body { margin: 0; }
    .splash {
      align-items: center;
      display: flex;
      height: 90vh;
      height: 90dvh;
      justify-content: center;
    }
    h1 {
      bottom: 32px;
      color: #eee;
      font-family: Georgia, serif;
      font-size: 1.5rem;
      font-style: italic;
      font-weight: bold;
      margin-block: 0;
      padding-inline: 16px;
      position: fixed;
      text-align: center;
      width: 100%;
  
    }
    img {
      animation: logo-pulse 6s 150;
      border-radius: 50%;
      height: auto;
      width: 100px;
    }
    img:hover {
      outline: 2px solid #eee;
    }
    @keyframes logo-pulse {
      80% { opacity: 1; }
      90% { opacity: 0.7; }
      100% { opacity: 1; }
    }
    @media (min-width: 300px) { img { width: 257px; } }
    @media (min-width: 576px) { img { width: 308px; } }
    @media (min-width: 1200px) {img { width: 420px; } }
  </style>
</head>
<body>
  <main>
    <div class="splash">
      <a href="/butcher/main" title="Go To Butcher Shop Main Page">
        <picture>
          <source media="(min-width: 1200px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_420.png">
          <source media="(min-width:  576px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_308.png">
          <source media="(min-width:  300px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_257.png">
          <img src="/butcher/assets/images/butcher_logo/butcher-logo_100.png" width="100" height="100" alt="logo">
        </picture>
      </a>
    </div>
    <a href="/butcher/main" title="Go To Butcher Shop Main Page">
      <h1>Quality Meat Products</h1>
    </a>
  </main>
</body>
</html>