<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta, icons, web manifest etc. -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I am a Freelance Web Developer based in Alberta, Canada.
    I help businesses improve their web performance and user experience.">
  <link rel="apple-touch-icon" sizes="180x180" href="/app/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/app/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/app/assets/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/app/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/app/assets/favicons/site.webmanifest">
  <link rel="mask-icon" href="/app/assets/favicons/safari-pinned-tab.svg" color="#2e7f56">
  <link rel="shortcut icon" href="/app/assets/favicons/favicon.ico">
  <meta name="color-scheme" content="light">
  <meta name="apple-mobile-web-app-title" content="Coder's Cove">
  <meta name="application-name" content="Coder's Cove">
  <meta name="msapplication-TileColor" content="#133a26">
  <meta name="msapplication-TileImage" content="/app/assets/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/app/assets/favicons/browserconfig.xml">
  <meta name="theme-color" content="#133a26">
  <title>
    <%= title %> | <%= subpageName %>
  </title>
  <style>
    * {
      box-sizing: border-box;
    }

    html {
      background-color: whitesmoke;
    }

    body {
      font-family: system-ui;
      margin: 0;
    }

    #splash {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    h1 {
      color: black;
      font-weight: bold;
      font-size: 1.5rem;
      padding-inline: 16px;
      position: fixed;
      bottom: 20px;
      text-align: center;
      width: 100%;
      font-family: Georgia, serif;
      font-style: italic;
    }

    img {
      width: 100px;
      height: auto;
      border-radius: 50%;
      outline: 2px solid rgb(115, 14, 14);
      border: 2px solid white;
    }

    @media (min-width: 300px) {
      img {
        width: 261px;
        outline: 3px solid rgb(115, 14, 14);
        border: 3px solid white;
      }
    }

    @media (min-width: 576px) {
      img {
        width: 489px;
        outline: 4px solid rgb(115, 14, 14);
        border: 4px solid white;
      }
    }

    @media (min-width: 992px) {
      img {
        width: 640px;
        outline: 5px solid rgb(115, 14, 14);
        border: 5px solid white;
      }
    }
  </style>
</head>

<body>
  <main>
    <div id="splash">
      <a href="/butcher/main" title="Go To Butcher Shop Main Page">
        <picture>
          <source media="(min-width: 992px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_640.png" />
          <source media="(min-width:  576px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_513.png" />
          <source media="(min-width:  300px)" srcset="/butcher/assets/images/butcher_logo/butcher-logo_257.png" />
          <img src="/butcher/assets/images/butcher_logo/butcher-logo_100.png" width="100" height="100" alt="logo" />
        </picture>
      </a>
    </div>
    <h1>Quality Meat Products</h1>
  </main>
</body>

</html>