<div id="container-subpage-about" class="container-subpage-about">
  <main>

    <!-- ? carousel -->
    <div id="carousel" class="carousel">
      <div class="slide one">
        <div class="slide-content">
          <div class="scale">Welcome to <%= title %>!</div>
          <div class="fade-in">Picture Collections</div>
          <div class="pulse">Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="slide two">
        <div class="slide-content">
          <h2 class="title-slide">E-Commerce</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
      <div class="slide three">
        <div class="slide-content">
          <h2 class="title-slide">Code Snippets</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
      <div class="slide four">
        <div class="slide-content">
          <h2 class="title-slide">Custom Programming</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
    </div>

    <!-- ? snaps -->
    <div class="parent">
      <div class="child">
        <div class="dot-box">
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <p>
          Where can you implement this user interface component?
        </p>
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
        </div>
      </div>
    </div>
    
    <!-- ? hover boxes -->
    <div class="boxes">
      <h2 class="boxes-title">Box transitions on hover:</h2>
      <div class="box box-one">
        Red
      </div>
      <div class="box box-two" title="Box Two">
        Green
      </div>
      <div class="box box-three">
        Blue
      </div>
    </div>    
  </main>

  <script src="/javascripts/about.js"></script>

</div>
