<div id="container-subpage-about" class="container-subpage">
  <main>
    <h2 class="title large">About</h2>
    <h3 class="title">package.json</h3>
    <pre class="pre-font">
  {
    "name": "eshop",
    "version": "1.0.0",
    "private": true,
    "description":
      "Node.js server with JWT authentication",
    "main": "./bin/www",
    "scripts": {
      "start": "node ./bin/www",
      "devStart": "nodemon ./bin/www",
      "serverStart":
        "SET DEBUG=eshop:* & npm run devStart"
    },
    "author": "Paul Oosterhoff",
    "license": "ISC",
    "dependencies": {
      "async": "^3.2.4",
      "bcryptjs": "^2.4.3",
      "cookie-parser": "^1.4.6",
      "cookie-session": "^2.0.0",
      "cors": "^2.8.5",
      "debug": "^4.3.4",
      "ejs": "^3.1.9",
      "express": "^4.18.2",
      "express-async-handler": "^1.2.0",
      "express-ejs-layouts": "^2.5.1",
      "express-validator": "^7.0.1",
      "http-errors": "^2.0.0",
      "jsonwebtoken": "^9.0.0",
      "mongoose": "^7.1.0",
      "nodemailer": "^6.9.3"
    },
    "devDependencies": {
      "dotenv": "^16.0.3",
      "nodemon": "^2.0.22"
    }
  }
  </pre>
    <h3 class="title">data structure</h3>
    <pre class="pre-font">
  {
    "products": [
      {
        "id": 0,
        "coverImage": "image-1.jpg",
        "coverImageType": "string",
        "longDescription": "string",
        "name": "Whole Chicken",
        "price": {
          "kilogram": 0,
          "package": 0,
          "box": 0
        },
        "public": false,
        "shortDescription": "string",
        "specialMessage": "string",
        "story": "string"
      }
    ],
  
    "stories": [
      {
        "id": 0,
        "content": "string",
        "description": "string",
        "introduction": "string",
        "name": "chicken"
      }
    ],
  
    "users": [
      {
        "id": 0,
        "email": "string",
        "fname": "string",
        "lname": "string",
        "password": "string",
        "roles": "string",
        "verificationCode": "string",
        "verified": false
      }
    ],
  
    "roles": [
      {
        "id": 0,
        "name": "string"
      }
    ],
  
    "orders": [
      {
        "id": 0,
        "products": [
          {
            "id": 0,
            "favorite": false,
            "later": false,
            "qty": 0
          }
        ],
        "userId": "string"
      }
    ],
  
    "localStorageData": {
      "items": [
        {
          "favorite": false,
          "later": false,
          "productId": 0,
          "qty": 0
        }
      ]
    }
  }
  </pre>
  </main>
</div>
