<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="I am a Freelance Web Developer based in Alberta, Canada.
  I help businesses improve their web performance and user experience."> 
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#2e7f56">
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <meta name="color-scheme" content="light dark" />
  <meta name="apple-mobile-web-app-title" content="Coder's Cove">
  <meta name="application-name" content="Coder's Cove">
  <meta name="msapplication-TileColor" content="#133a26">
  <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#133a26">
  <!-- application -->
  <!-- loading and parsing index.css is render-blocking -->
  <link rel="stylesheet" href="/stylesheets/index.css">
  <script type="module" src="/javascripts/layout.js"></script>

  <!-- Preload the LCP image with a high fetchpriority so it starts loading with the stylesheet. -->
  <!-- <link rel="preload" fetchpriority="high" as="image" href="/images/slides/image_5.jpg" type="image/webp"> -->
  <!-- loading and parsing print.css is not render-blocking -->
  <!-- <link rel="stylesheet" href="/stylesheets/components/print.css" media="print"> -->
  <!-- loading and parsing mobile.css is not render-blocking on large screens -->
  <!-- <link rel="stylesheet" href="/stylesheets/components/mobile.css" media="screen and (max-width: 480px)"> -->

  <title><%= title %></title>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://portfolio.scriptdawg.com/">
  <meta property="og:title" content="Paul Oosterhoff | Programmer">
  <meta property="og:description" content="Paul is a programmer based in Alberta, Canada.">
  <meta property="og:image" content="/public/images/favicons/share.png">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://portfolio.scriptdawg.com/">
  <meta property="twitter:title" content="Paul Oosterhoff | Programmer">
  <meta property="twitter:description" content="Paul is a programmer based in Alberta, Canada.">
  <meta property="twitter:image" content="/public/images/favicons/share.png">
  
  <!-- filepond -->
  <link href="https://unpkg.com/filepond@4/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css" rel="stylesheet">
  
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-edit/dist/filepond-plugin-image-edit.js"></script>
  <script defer src="https://unpkg.com/filepond@4/dist/filepond.js"></script>
  <script defer src="/javascripts/fileUpload.js"></script>
</head>
<body>
  <!-- site navigation & banner -->
  <%- include('../layout/top.ejs') %>
<div id="container-subpage-about" class="container-subpage-about">
  <main>

    <!-- ? carousel -->
    <div id="carousel" class="carousel">
      <div class="slide one">
        <div class="slide-content">
          <div class="scale">Welcome to <%= title %>!</div>
          <h2 class="fade-in">Picture Collections</h2>
          <div class="pulse">Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="slide two">
        <div class="slide-content">
          <h2 class="title-slide">E-Commerce</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="slide three">
        <div class="slide-content">
          <h2 class="title-slide">Code Snippets</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="slide four">
        <div class="slide-content">
          <h2 class="title-slide">Custom Programming</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
    </div>

    <!-- ? snaps -->
    <div class="parent">
      <div class="child">
        <div class="dot-box">
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div>
          Where can you implement this user interface component?
        </div>
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
        </div>
      </div>
    </div>
    
    <!-- ? hover boxes -->
    <div class="boxes">
      <div class="boxes-title">Box transitions on active: You have to hold it down.</div>
      <div class="box box-one">
        Red
      </div>
      <div class="box box-two" title="Box Two">
        Green
      </div>
      <div class="box box-three">
        Blue
      </div>
    </div> 
    
    
    <!-- button styles -->
    <div class="button-grid" style="padding:64px; ">
      <button>Button - no styles</button>
      <a href="#">Anchor - no styles</a>
      <a class="btn btn--line" href="#">btn--line</a>
      <button style="background-color:var(--theme-green)" class="btn btn--nav">btn--nav</button>
      <a class="btn btn--flat" href="">btn--flat</a>
      <button class="btn btn--raised">btn--raised</button>
      <button class="btn btn--pill">btn--pill</button>
      <button class="btn btn--flat">
        <div class="menu-black" style="height: 16px; width:20px;rotate:90deg;"></div>
      </button>
      <button class="btn btn--raised hummer-favicon">
        Hummmer - .png
      </button>
      <button class="btn btn--raised">
        <div class="cart-svg" style="height: 50px; width:50px;display:inline-block;">
        <div>123</div>
        </div>
      </button>
      <button class="btn btn--raised cart-free-svg">
        Cart full of stuff purchased at Coder's Cove
      </button>
      <button class="btn btn--raised mia-img">
        Mia - .ico
      </button>
    </div>
  
  </main>

  <script src="/javascripts/about.js"></script>

</div>
  <!-- site footer -->
  <%- include('../layout/bottom.ejs') %>
  
</body>
</html>
