<div id="container-subpage-index" class="container-subpage">
  <h1>Main</h1>
  <p>This is the splash / landing page.</p>
  <p>The name of this test site is <b>E-Shop</b>.</p>
  <p>
    <b>E-Shop</b> is a minimalistic node.js server template created in the fall of 2023.
    It uses cookies and json web tokens for authentication and authorization.
  </p>
</div>
