<div id="container-subpage-main" class="container-subpage-main">
  <main>

    <div id="carousel" class="carousel">
      <div class="slide one">
        <div class="slide-content">
          <h2 class="title-slide">Picture Collections</h2>
        </div>
      </div>
      <div class="slide two">
        <div class="slide-content">
          <h2 class="title-slide">E-Commerce</h2>
        </div>
      </div>
      <div class="slide three">
        <div class="slide-content">
          <h2 class="title-slide">Code Snippets</h2>
        </div>
      </div>
      <div class="slide four">
        <div class="slide-content">
          <h2 class="title-slide">Custom Programming</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
    </div>

    <div class="parent">
      <div class="child">
        <div class="dot-box">
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
          <span class="dot"></span>
        </div>
      </div>
      <div class="child">
        <p>
          Where can you implement this user interface component?
        </p>
        <div class="dot-box">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot active-dot"></span>
        </div>
      </div>
    </div>

  </main>
</div>

<script src="/javascripts/main.js"></script>