<div id="container-subpage-main" class="container-subpage-main">
  <main>

    <!-- ? fades -->
    <div id="fades" class="fades">
      <div class="fade fade-first">
        <div class="fade-content">
          <p class="scale">Welcome to <%= title %>!</p>
          <h2 class="title-slide fade-in">Website Solutions</h2>
          <p class="translate">Blogs | E-Shops </p>
        </div>
      </div>
      <div class="fade fade-one">
        <div class="fade-content">
          <div>One</div>
          <h2 class="title-slide">Custom Programming</h2>
          <div class="pulse">Node.js | Express | MongoDb | PHP | SQL</div>
        </div>
      </div>
      <div class="fade fade-two">
        <div class="fade-content">
          <span>Two</span>
          <h2 class="title-slide">E-Commerce</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
      <div class="fade fade-three">
        <div class="fade-content">
          <span>Three</span>
          <h2 class="title-slide">Code Snippets</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
      <div class="fade fade-four">
        <div class="fade-content">
          <span>Four</span>
          <h2 class="title-slide">Picture Collections</h2>
          <p>Node.js, Express, MongoDb, PHP, SQL</p>
        </div>
      </div>
    </div>

  </main>

  <script src="/javascripts/main.js"></script>

</div>