<div id="container-subpage-main" class="container-subpage-main">
  <main>
    <!-- ? fades -->
    <div id="fades" class="fades">
      <div class="fade fade-first">
        <div class="fade-content">
          <div class="scale">Welcome to <%= title %>!</div>
          <h2 class="title--xxl fade-in">Website Solutions</h2>
          <div class="translate">Blogs | E-Shops </div>
        </div>
      </div>
      <div class="fade fade-one">
        <div class="fade-content">
          <div>One</div>
          <h2 class="title--xxl">Custom Programming</h2>
          <div class="pulse">Node.js | Express | MongoDb | PHP | SQL</div>
        </div>
      </div>
      <div class="fade fade-two">
        <div class="fade-content">
          <div>Two</div>
          <h2 class="title--xxl">E-Commerce</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="fade fade-three">
        <div class="fade-content">
          <div>Three</div>
          <h2 class="title--xxl">Code Snippets</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
      <div class="fade fade-four">
        <div class="fade-content">
          <div>Four</div>
          <h2 class="title--xxl">Picture Collections</h2>
          <div>Node.js, Express, MongoDb, PHP, SQL</div>
        </div>
      </div>
    </div>
  </main>

</div>
