<!-- banner-app -->
<div class="banner-app">
  <!-- logo-app -->
  <a class="logo-app btn text--xl" href="/" title="Go To Coder's Cove Home Page">
    <img src="/app/assets/svg/logo.svg" width="40" height="40" alt="Logo">
    <span><%= title %></span>
  </a>
  <!-- links -->
  <% if(roles) { %>
    <a class="btn" href="/auth/logout" title="Sigh Out">Sign Out</a>
  <% } else { %>
    <a class="btn" href="/auth/login" title="Sigh In Or Register">Sign In</a>
  <% } %>
</div>
