<div id="website-footer" class="footer website-footer">
  <!-- logo & copy write -->
  <div class="side">
    <img src="/app/assets/svg/logo.svg" width="45" height="43" alt="Site Logo" title="Site Logo">
    <div>
      <p class="text--bold footer-name">&copy; 2023 <%= title %>
      </p>
      <p class="footer-rights" title="Rights"><small class="text--sm">All rights reserved.</small></p>
    </div>
  </div>
  <!-- social -->
  <div class="side">
    <ul class="footer-social">
      <li>
        <a class="btn" href="mailto:miamail@scriptdawg.com" title="Send Site Owner An Email">miamail@scriptdawg.com</a>
      </li>
      <!-- linkedIn -->
      <li>
        <a class="btn" href="https://www.linkedin.com/in/paul-oosterhoff-profile/" target="_blank"
          aria-label="Linkedin">
          <img src="/app/assets/svg/linkedin.svg" width="32" height="32" alt="Linkedin" title="Linkedin">
        </a>
      </li>
      <!-- facebook -->
      <li>
        <a class="btn" href="https://www.facebook.com/profile.php?id=100073323680040" target="_blank"
          aria-label="Facebook">
          <img src="/app/assets/svg/facebook.svg" width="32" height="32" alt="Facebook" title="Facebook">
        </a>
      </li>
      <!-- twitter -->
      <li>
        <a class="btn" href="https://twitter.com/OosterhoffPaul" target="_blank" aria-label="Twitter">
          <img src="/app/assets/svg/twitter.svg" width="32" height="32" alt="Twitter" title="Twitter">
        </a>
      </li>
    </ul>
    <div id="window-size" class="window-size"></div>
  </div>

  <button id="btn-scroll-top" class="btn btn--scroll-top">
    <img src="/app/assets/svg/chevron-double-up.svg" width="18" height="18" alt="chevron-double-up-svg">
  </button>
</div>