<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart templates</title>
</head>
<body>
  <main>

    <!-- package template -->
    <div id="package-${id}" class="package">
      <div class="picture">
        <img src="${img}" width="100px" height="100px" alt="${name}" title="${name}" />
      </div>
      <div class="cost">
        <span>$${Number.parseInt(price, 10).toFixed(2)}</span>
      </div>
      <div class="info">
        <button id="btn-package-heart-${id}" class="btn btn-package-heart" data-id="${id}">
          ${search.heart === true ? `<i class="bi bi-heart-fill"></i>` : `<i class="bi bi-heart"></i>`}
        </button>
        <span id="package-subtotal-${id}" class="package-subtotal">$${(price * search.qty).toFixed(2)}</span>
      </div>
      <div class="term">
        <h2>${name}</h2>
      </div>
      <div class="left-ctrl">
        <button id="remove-package-${id}" class="btn btn-remove-package" data-id="${id}">Remove</button>
      </div>  
      <div class="right-ctrl">
        <button id="btn-minus-${id}" class="btn btn-minus" data-id="${id}">
          <i class="bi bi-chevron-double-down"></i>
        </button>
        <span id="quantity-${id}" class="quantity" data-id=${id}>
          ${search.qty === undefined ? 0 : search.qty}
        </span>
        <button id="btn-plus-${id}" class="btn btn-plus" data-id="${id}">
          <i class="bi bi-chevron-double-up"></i>
        </button>
      </div>
    </div>

  </main>
</body>
</html>