<!-- <div class="navbar">
  <a href="/public">
    <h2>Clothing Store</h2>
  </a>

  <a href="/public/cart">
    <div class="cart">
      <i class="bi bi-cart2"></i>
      <div id="cartAmount" class="cartAmount">0</div>
    </div>
  </a>
</div> -->

<div id="label" class="text-center"></div>

<div class="shopping-cart" id="shopping-cart"></div>

<script src="/javascripts/Data.js"></script>
<script src="/javascripts/cart.js"></script>
