<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cart templates</title>
</head>
<body>
  <main>

    <!-- package template -->
    <div id="package-${id}" class="package" title="Package">
      <div class="picture">
        <img src="${img}" width="70px" height="70px" alt="${name}" title="${name}" />
      </div>
      <div class="cost">
        <span title="Price">$${Number.parseInt(price, 10).toFixed(2)}</span>
      </div>
      <div class="info">
        <button id="btn-heart-${id}" class="btn btn-heart" data-id="${id}" title="Toggle Favorite">
          ${search.heart === true ? `<i class="bi bi-heart-fill"></i>` : `<i class="bi bi-heart"></i>`}
        </button>
        <span id="subtotal-${id}" class="subtotal" title="Subtotal">$${(price * search.qty).toFixed(2)}</span>
      </div>
      <div class="term">
        <h2 title="Product Name">${name}</h2>
      </div>
      <div class="left-ctrl">
        <button id="btn-remove-${id}" class="btn btn-remove" data-id="${id}" title="Remove package from cart!">Remove</button>
      </div>  
      <div class="right-ctrl">
        <button id="btn-minus-${id}" class="btn btn-minus" data-id="${id}" title="Decrease Quantity">
          <i class="bi bi-chevron-double-down"></i>
        </button>
        <span id="qty-${id}" class="qty" data-id=${id} title="Quantity">
          ${search.qty === undefined ? 0 : search.qty}
        </span>
        <button id="btn-plus-${id}" class="btn btn-plus" data-id="${id}" title="Increase Quantity">
          <i class="bi bi-chevron-double-up"></i>
        </button>
      </div>
    </div>

  </main>
</body>
</html>