<h1>Cart Contents</h1>
<div class="products-container">
  <div id="product-legend" class="product-legend"></div>
  <div id="product-list" class="product-list"></div>
</div>


<script type="module" src="/javascripts/cart.js"></script>
