

<!-- <div class="navbar">
  <a href="/public">
    <h2>Clothing Store</h2>
  </a>
  
  <a href="/public/cart">
    <div class="cart">
      <i class="bi bi-cart2"></i>
      <div id="cartAmount" class="cartAmount">0</div>
    </div>
  </a>
</div> -->
<!-- <div id="navbar"></div> -->
<div id="print"></div>
<div id="test"></div>
<div class="shop" id="shop"></div>

<h1>Public Content</h1>
<div>
  <a href="/public/dogs">Dogs</a>
</div>

<!--<script src="/javascripts/Data.js"></script>
<script src="/javascripts/main.js"></script>-->
