<!-- Subpage Container -->
<div id="container-subpage-shop" class="container-subpage-shop">
  <!-- Sticky Sub-page Banner & Navigation Bar -->
  <nav id="sub-nav" class="sub-nav">
    <a href="#menu">
      <div id="link-menu" class="link link-menu">
        <i class="bi bi-list"></i>
      </div>
    </a>
    <a href="">
      <div id="link-heart" class="link link-heart">
        <i class="bi bi-heart-fill"></i>
        <div id="heart-quantity" class="heart-quantity">0</div>
      </div>
    </a>
    <a href="/public/cart">
      <div id="link-cart" class="link link-cart">
        <i class="bi bi-cart4"></i>
        <div id="cart-quantity" class="cart-quantity"><span>0</span></div>
      </div>
    </a>
  </nav>

  <!-- Shop Grid Container -->
  <div id="container-shop" class="container-shop">
    <!-- Card Grid Container from shop.js -->
    <div id="container-card" class="container-card">
      <!-- Card Template -->
      <div id="card" class="card">
        <div id="card-image" class="card-image">
          <a href="">
            <img
              src="/images/arrowwood_grass_fire.jpg"
              width="600px"
              height="400px"
              alt="arrowwood_grass_fire"
              title="arrowwood_grass_fire"
            />
          </a>
        </div>
        <div id="card-details" class="card-details">
          <h2 id="product-name" class="product-name">Loading files ...</h2>
          <p id="product-shortDescription" class="product-shortDescription">
            Waiting for shop.js to retrieve data and render the view ...
          </p>
          <p id="product-price" class="product-price">$0</p>
          <div id="card-controls" class="card-controls">
            <button
              id="btn-product-heart"
              class="btn btn-product-heart"
              data-id="0"
            >
              <i class="bi bi-heart">heart </i>
            </button>
            <div>
              <button id="btn-minus" class="btn btn-minus" data-id="0">
                <i class="bi bi-chevron-double-down"></i>
              </button>
              <span id="quantity" class="quantity" data-id="0"> 0 </span>
              <button id="btn-plus" class="btn btn-plus" data-id="0">
                <i class="bi bi-chevron-double-up"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu Container -->
    <div id="menu" class="menu">
      <h2>Categories:</h2>
      <ul>
        <li>All Categories</li>
        <li>Beef Misc</li>
        <li>Beef Roasts</li>
        <li>Beef Steaks</li>
        <li>Bread</li>
        <li>Chicken</li>
        <li>From the smokehouse</li>
        <li>Homemade Sausages</li>
        <li>Honey</li>
        <li>Pork</li>
        <li>Uncategorized</li>
      </ul>
    </div>
    <!-- Ads Container -->
    <div id="ads" class="ads">
      <h2>More Content:</h2>
      <ul>
        <li>Specials</li>
        <li>Related Products</li>
        <li>Newsletters</li>
        <li>Articles</li>
        <li>Recipes</li>
        <li>Advertisements</li>
        <li>Other Stuff</li>
      </ul>
    </div>
  </div>
</div>
<script type="module" src="/javascripts/shop.js"></script>
