<h1>Public Content</h1>
<p>This page should contain everything available to the general public.</p>
<p>It should be primarly <b>read-only</b>.</p>
<p>
  Content should be json retreived using a node server api. This relieves the
  backend server, utilizing the client end resources instead.
</p>
<div>
  <a href="/public/dogs">Dogs</a>
</div>
