<!--? Subpage Container -->
<div id="container-subpage" class="container-subpage">

  <!--? Sticky Sub-page Banner & Navigation Bar -->
  <nav id="nav" class="nav">
    <a href="#menu">
      <div id="btn-menu" class="btn btn-menu">
        <i class="bi bi-list"></i>
      </div>
    </a>
    <a href="">
      <div id="btn-heart" class="btn btn-heart">
        <i class="bi bi-heart"></i>
        <div id="heart-quantity" class="heart-quantity">0</div>
      </div>
    </a>
    <a href="/public/cart">
      <div id="btn-cart" class="btn btn-cart">
        <i class="bi bi-cart4"></i>
        <div id="cart-quantity" class="cart-quantity"><span>0</span></div>
      </div>
    </a>
  </nav>

  <!--? Shop Grid Container -->
  <div id="container-shop" class="container-shop">

    <!--? Card Grid Container -->
    <div id="container-card" class="container-card"></div>

    <!--? Menu Container -->
    <div id="menu" class="menu">
      <h2>Categories:</h2>
      <ul>
        <li>All Categories</li>
        <li>Beef Misc</li>
        <li>Beef Roasts</li>
        <li>Beef Steaks</li>
        <li>Bread</li>
        <li>Chicken</li>
        <li>From the smokehouse</li>
        <li>Homemade Sausages</li>
        <li>Honey</li>
        <li>Pork</li>
        <li>Uncategorized</li>
      </ul>
    </div>

    <!--? Ads Container -->
    <div id="ads" class="ads">
      <h2>More Content:</h2>
      <ul>
        <li>Specials</li>
        <li>Related Products</li>
        <li>Newsletters</li>
        <li>Articles</li>
        <li>Recipes</li>
        <li>Advertisements</li>
        <li>Other Stuff</li>
      </ul>
    </div>
  </div>
</div>

<script type="module" src="/javascripts/shop.js"></script>
<!--? End Of Subpage Container -->
