@layer page {

  /* ledger */
  .ledger {
    margin-block: 48px;
  }

  .ledger h3 {
    border-left: 4px solid var(--primary-1);
    color: var(--primary-1);
    padding-left: 8px;
  }

  /* cart-summary */
  .cart-summary {
    border: 1px solid var(--primary-1);
    border-collapse: collapse;
    margin-block: 16px;
    width: 100%;
  }

  .cart-summary thead,
  .cart-summary tfoot {
    background-color: var(--primary-1);
    color: var(--white);
    text-align: left;
  }

  .cart-summary th,
  .cart-summary td {
    padding: 12px;
  }

  .cart-summary tbody tr:nth-child(2n) {
    background-color: var(--neutral-5);
  }

  .cart-summary tbody tr:nth-child(2n + 1) {
    background-color: var(--neutral-4);
  }
}