<div id="bottom">

  <footer id="website-footer" class="website-footer">
    <p><a class="link" href="https://scriptdawg.com" target="_blank">scriptdawg.com</a></p>
    <p><a class="link" href="mailto:miamail@scriptdawg.com">miamail@scriptdawg.com</a></p>
    <p>&copy; 2023 Paul Oosterhoff</p>
    <p id="window-size" class="window-size">Window Size</p>
  </footer>

  <button id="btn-scroll-top" class="btn btn-scroll-top">
    <i class="bi bi-chevron-double-up"></i>
  </button>
  
</div>
