<div id="bottom">
  <!-- footer -->
  <footer id="website-footer" class="website-footer">
    <div class="container">
      <div class="footer">
        <!-- logo & copy write -->
        <div class="side">
          <img src="/assets/svg/logo.svg" width="45px" height="43px" alt="Site Logo" title="Site Logo" />
          <div>
            <p class="text--bold footer-name">&copy; 2023 <%= title %></p>
            <p class="footer-rights" title="Rights"><small class="text--sm">All rights reserved.</small></p>
          </div>
        </div>
        <!-- social -->
        <div class="side">
          <ul class="footer-social">
            <li>
              <a class="btn" href="mailto:miamail@scriptdawg.com" title="Send Site Owner An Email">miamail@scriptdawg.com</a>
            </li>
            <!-- linkedIn -->
            <li>
              <a class="btn" href="https://www.linkedin.com/in/paul-oosterhoff-profile/" target="_blank" aria-label="Linkedin">
                <img src="/assets/svg/linkedin.svg" width="32px" height="32px" alt="Linkedin" title="Linkedin" />
              </a>
            </li>
            <!-- facebook -->
            <li>
              <a class="btn" href="https://www.facebook.com/profile.php?id=100073323680040" target="_blank" aria-label="Facebook">
                <img src="/assets/svg/facebook.svg" width="32px" height="32px" alt="Facebook" title="Facebook" />
              </a>
            </li>
            <!-- twitter -->
            <li>
              <a class="btn" href="https://twitter.com/OosterhoffPaul" target="_blank" aria-label="Twitter">
                <img src="/assets/svg/twitter.svg" width="32px" height="32px" alt="Twitter" title="Twitter" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="window-size" class="window-size"></div>
    <button id="btn-scroll-top" class="btn btn--scroll-top">
      <i class="bi bi-chevron-double-up"></i>
    </button>

  </footer>
</div>