<!-- website banner -->
<div id="website-top-banner" class="website-top-banner">
  <p>
    This banner area is suitable for a logo, company name, vision statement etc. 
  </p>
</div>
<!-- website top navigation -->
<div id="top-nav-container">
  <nav id="website-top-nav">
    <ul class="website-top-nav">
      <li><button id="btn-open-website-side-nav" class="btn-plain btn-open-website-side-nav"><i class="bi bi-list"></i></button></li>
      <li><h1 id="subpage-name"><%= title %></h1></li>

      <% if(roles) { %>
        <li><a class="link" href="/auth/logout"><i class="bi bi-box-arrow-in-left"></i></a></li>
      <% } else { %>
        <li><a class="link" href="/auth/login"><i class="bi bi-box-arrow-in-right"></i></a></li>
      <% } %>

    </ul>
  </nav>

  <!-- website side navigation -->
  <nav id="website-side-nav">
    <ul class="website-side-nav">
      <li><a class="link" href="/">Main</a></li>
      <li><a class="link" href="/public/store">Butcher's Shop</a></li>
      <li><a class="link" href="/about">About</a></li>
      <li><a class="link" href="/contact">Contact</a></li>
      
      <% if(roles) { 
        roles.forEach(role => { %>
          <li><a class="link" href="/<%= role %>"><%= role %></a></li>
          <% }) %>
          <li><a class="link" href="/auth/logout">Sign Out</a></li>
          <% } else { %>
            <li><a class="link" href="/auth/register">Register</a></li>
            <li><a class="link" href="/auth/login">Sign In</a></li>
            <% } %>
            
          </ul>
        </nav>
      </div>
      <div id="overlay" class="overlay"></div>
