<div id="container-subpage-administrator" class="container-subpage">
  <main>
    <h2 class="title large">Administrator Content</h2>
    <p>
      The 'administrator role' can manage users with create, read, update and
      delete functions. It has access to database optimization tools. It controls
      what to backup and when. It can bring the site offline.
    </p>
  </main>
</div>
