.product-list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, auto);
  margin-block: 16px;
}
/* @media (min-width: 1000px) {
  .product-list {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 500px) {
  .product-list {
    grid-template-columns: repeat(2, auto);
  }
} */
.product-card {
  border: 2px solid #212529;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 250px;
}
.product-card-imgage {
  border-radius: 2px 2px 0 0;
  width: 100%;
}
.product-card-body {
  padding: 8px;
}
.product-card-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.product-card-footer-buttons {
  align-items: center;
  display: flex;
  gap: 4px;
}
.product-card-footer .btn-minus,
.product-card-footer .btn-plus,
.product-quantity {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 50px;
}
.product-card-footer .btn-minus,
.product-card-footer .btn-plus {
  cursor: pointer;
  font-size: 32px;
}
.product-card-footer .btn-minus {
  color: red;
}
.product-card-footer .btn-plus {
  color: green;
}
.product-card-footer .btn-minus:hover,
.product-card-footer .btn-plus:hover {
  background-color: white;
  border: 1px solid gainsboro;
}

/*? From cart.css */

.hide {
  display: none;
}
.product-legend {
  text-align: center;
}
.product-legend h2 {
  font-size: 24px;
}
.product-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card-delete {
  color: red;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  width: 50px;
  font-weight: bold;
}
.product-card-delete:hover {
  background-color: white;
  border: 1px solid gainsboro;
}
.btn-continue,
.btn-checkout,
.btn-clear-cart {
  background-color: #212529;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-continue {
  background-color: blue;
}
.btn-checkout {
  background-color: green;
  text-decoration: line-through;
}
.btn-clear-cart {
  background-color: red;
}
